.peg {
    border-radius: 50%;
    width: 2em;
    height: 2em;
    margin: 5px;
    padding: 5px;
    float: left;
}

.pin {
    border-radius: 50%;
    width: 1.2em;
    height: 1.2em;
    margin: 5px;
    padding: 5px;
    float: left;
}

.pin_example {
    border-radius: 50%;
    width: 1.2em;
    height: 1.2em;
    margin: 5px;
    padding: 5px;
}

.blank {
    border-style: dashed;
    border-width: 2px;
}

.pin_menu {
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.Orange {
    background-color: orange;
}
.Blue {
    background-color: blue;
}
.Yellow {
    background-color: yellow;
}
.Purple {
    background-color: darkorchid;
}
.Red {
    background-color: red;
}
.Green {
    background-color: green;
}
.Gray {
    background-color: lightgray;
}
.Black {
    background-color: black;
}

.YellowDisable {
    background-color: lemonchiffon;
}
.GreenDisable {
    background-color: palegreen;
}
.BlueDisable {
    background-color: powderblue;
}

.PurpleDisable {
    background-color: thistle;
}