<!DOCTYPE html>
<html lang="en-US" ng-app="TIYAngularApp">
<head>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
    <script src="js/angular-drop.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.0/ui-bootstrap-tpls.js"></script>
    <script src="js/tiy-ng-controller.js"></script>
    <meta charset="UTF-8">
    <title>Mastermind Config</title>
    <link rel="stylesheet" type="text/css" href="../css/config.css">
</head>
<a href="/">Return to Mastermind</a> (Fresh game)<br>
<body ng-controller="ConfigController">
<h3>Mastermind Settings</h3><br>
Allow duplicate colors?<br>
Off

<label class="switch">
    <input type="checkbox" ng-model="settings.duplesAllowed">
    <div class="slider round"></div>
</label>
On
<br>
Max number of guesses:
<input type="number" placeholder="10" width="100px" min="3" max="20" ng-model="settings.numGuesses">
<br>
Number of colors:
<input type="number" placeholder="6" width="100px" min="2" max="6" ng-model="settings.numColors">
<br>
Number of pegs in a row:
<input type="number" placeholder="4" width="100px" min="2" max="8" ng-model="settings.boardWidth">
<br>
<input type="button" value="Save Settings" ng-click="saveSettings()" ng-model="settings">
</body>
</html>