<!DOCTYPE html>
<html lang="en-US" ng-app="TIYAngularApp">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="js/tiy-ng-controller.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Mastermind Game</title>
    <link rel="stylesheet" type="text/css" href="../css/mastermind.css">
</head>
<body ng-controller="GameController">
{{! changing the mustache delimiter so it doesn't conflict with  }}
{{! the default angularjs delimeters - https://mustache.github.io/mustache.5.html for more info  }}
{{=<% %>=}}
<a href = /config>Config</a><br>
Number of Guesses Allowed: {{settings.numGuesses}}<br>
Number of Colors Possible: {{settings.numColors}}<br>
Duples Allowed: {{settings.duplesAllowed}}<br>
Board Width: {{settings.boardWidth}}<br>
<input type="button" ng-click="submitMove()" value="Submit Move" ng-model="newMove">
    <select ng-repeat="y in testArray" ng-model="newMove[$index]">
        <%#color-list%>
            <option><%name%></option>
        <%/color-list%>
    </select>
</input>

<hr>
Board:
<div ng-repeat="x in guessIndexArray">
    <div ng-repeat="y in testArray" class={{colorArray[x][y]}}></div>
    Right Color, Wrong Spot: {{results[$index].colorsRight}}
    <br>
    Right Color, Right Spot: {{results[$index].spotsRight}}
    <br><br>
</div>
</body>
</html>