<!DOCTYPE html>
<html lang="en-US" ng-app="TIYAngularApp">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="js/tiy-ng-controller.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Mastermind Game</title>
    <link rel="stylesheet" type="text/css" href="../css/mastermind.css">
</head>
<body ng-controller="SampleController">
{{! changing the mustache delimiter so it doesn't conflict with  }}
{{! the default angularjs delimeters - https://mustache.github.io/mustache.5.html for more info  }}
{{=<% %>=}}
<button ng-click="getBoard()">Board</button>

<input type="button" ng-click="simpleSubmit()" value="Submit Move" ng-model="newMove">
    <select ng-model="newMove.first">
        <%#color-list%>
            <option><%name%></option>
        <%/color-list%>
    </select>
    <select ng-model="newMove.second">
        <%#color-list%>
            <option><%name%></option>
        <%/color-list%>
    </select>
    <select ng-model="newMove.third">
        <%#color-list%>
            <option><%name%></option>
        <%/color-list%>
    </select>
    <select ng-model="newMove.fourth">
        <%#color-list%>
            <option><%name%></option>
        <%/color-list%>
    </select>
</input>

<hr>
Board:
<div ng-repeat="row in guesses">
    <div class={{colorArray[$index].color1}}></div>
    <div class={{colorArray[$index].color2}}></div>
    <div class={{colorArray[$index].color3}}></div>
    <div class={{colorArray[$index].color4}}></div>
    Right Color, Wrong Spot: {{results[$index].colorsRight}}
    <br>
    Right Color, Right Spot: {{results[$index].spotsRight}}
    <br><br>
</div>

</body>
</html>