<!DOCTYPE html>
<html lang="en-US" ng-app="TIYAngularApp">

<head>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
    <script src="js/angular-drop.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.0/ui-bootstrap-tpls.js"></script>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="js/tiy-ng-controller.js"></script>
    <meta charset="UTF-8">
    <title>Mastermind Game</title>
    <link rel="stylesheet" type="text/css" href="../css/mastermind.css">
</head>
<body ng-controller="GameController">
{{! changing the mustache delimiter so it doesn't conflict with  }}
{{! the default angularjs delimeters - https://mustache.github.io/mustache.5.html for more info  }}
{{=<% %>=}}
<a href = /config>Config</a><br>
Number of Guesses Allowed: {{settings.numGuesses}}<br>
Number of Colors Possible: {{settings.numColors}}<br>
Duples Allowed: {{settings.duplesAllowed}}<br>
Board Width: {{settings.boardWidth}}<br>

<hr>

<div>
    Menu:<br>
    <div class="peg Red" data-drag="true" jqyoui-draggable="{animate: true}" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}"></div>
    <div class="peg Orange" data-drag="true" jqyoui-draggable="{animate: true}" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}"></div>
    <div class="peg Yellow" data-drag="true" jqyoui-draggable="{animate: true}" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}"></div>
    <div class="peg Green" data-drag="true" jqyoui-draggable="{animate: true}" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}"></div>
    <div class="peg Blue" data-drag="true" jqyoui-draggable="{animate: true}" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}"></div>
    <div class="peg Purple" data-drag="true" jqyoui-draggable="{animate: true}" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}"></div>
</div>
<br>
<br>
<hr>
<div ng-model="dynamicBlanks">
    <div ng-repeat="y in dynamicBlanks">
        <div id="blank{{y}}" class = "peg blank"  data-drop="true" jqyoui-droppable="{onDrop: 'testDrop'}"></div>
    </div>
    <br><br><br>
    <input type="button" ng-click="submitDynamicDragDrop()" value="Submit Move"/>
</div>

<hr>
Board:
<div ng-repeat="x in guessIndexArray">
    <div ng-repeat="y in testArray" class={{colorArray[x][y]}}></div>
    <div ng-repeat="y in grayPinsArray[x]" class="pin Gray"></div>
    <div ng-repeat="y in blackPinsArray[x]" class="pin Black"></div>
    Right Color, Wrong Spot: {{results[$index].colorsRight}}
    <br>
    Right Color, Right Spot: {{results[$index].spotsRight}}
    <br><br>
</div>
</body>
</html>